@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import 'tailwindcss';


* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-cream);
  color: #1a1a2e;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: var(--color-navy-dark);
}
::-webkit-scrollbar-thumb {
  background: var(--color-gold);
  border-radius: 3px;
}

.font-display {
  font-family: var(--font-display);
}
